<div class="main">
  <div class="container">
  <h1>About Page</h1>
  <h2>Karan the versatile learner</h1>
  <p>Karan is a aspiring UX engineer. His background is business specilizing in marketing. He loved gaming & is very highly competitive which made him tech saavy.
   His determination & perseverance made him learn continously through various failures.</p>
  </div>

  <h3>Ashwin Changed something</h3>
</div>
